!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi @user
    %p
      Shift schedule of current week is created!.
      %br/
    %p
     Please check it!