/ Navigation
/ Page Header
= render "shared/header"
/ Main Content
.container.px-4.px-lg-5
	.row.gx-4.gx-lg-5.justify-content-center
		.col-md-10.col-lg-8.col-xl-7
			/ Post preview
			.post-preview
				%a{:href => "post.html"}
					%h2.post-title Man must explore, and this is exploration at its greatest
					%h3.post-subtitle Problems look mighty small from 150 miles up
				%p.post-meta
					Posted by
					%a{:href => "#!"} Start Bootstrap on September 24, 2021
			/ Divider
			%hr.my-4/
/ Post preview

/ Divider
%hr.my-4/
/ Pager
.d-flex.justify-content-end.mb-4
	%a.btn.btn-primary.text-uppercase{:href => "#!"} Older Posts →
/ Footer
/ %footer.border-top
/ .container.px-4.px-lg-5
/ .row.gx-4.gx-lg-5.justify-content-center
/ .col-md-10.col-lg-8.col-xl-7
/ %ul.list-inline.text-center
/ %li.list-inline-item
/ %a{:href => "#!"}
/ %span.fa-stack.fa-lg
/ %i.fas.fa-circle.fa-stack-2x
/ %i.fab.fa-twitter.fa-stack-1x.fa-inverse
/ %li.list-inline-item
/ %a{:href => "#!"}
/ %span.fa-stack.fa-lg
/ %i.fas.fa-circle.fa-stack-2x
/ %i.fab.fa-facebook-f.fa-stack-1x.fa-inverse
/ %li.list-inline-item
/ %a{:href => "#!"}
/ %span.fa-stack.fa-lg
/ %i.fas.fa-circle.fa-stack-2x
/ %i.fab.fa-github.fa-stack-1x.fa-inverse
/ .small.text-center.text-muted.fst-italic Copyright © Your Website 2021
/ Bootstrap core JS
%script{:src => "https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"}
/ Core theme JS
